body {
  background: linear-gradient(
    109.6deg,
    rgb(151, 213, 255) 11.2%,
    rgb(255, 155, 185) 91.1%
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

img {
  max-width: 100%;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

button {
  display: block;
  margin: 0 auto;
  background: #fff;
  border-radius: 6px;
  padding: 10px 15px;
  transition: all 150ms ease-in-out;
}

button:hover {
  background-color: plum;
  cursor: pointer;
}

.container {
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
}

a {
  display: block;
  text-align: center;
  color: #03045e;
}

footer {
  text-align: center;
  margin: 15px 0;
  font-size: 18px;
}
.theme-button {
  font-size: 15px;
  background-color: #222;
  color: #fff;
  padding: 8px;
}
.theme-button:hover {
  color: #222;
  background: #fff;
}

.longboard-intro-img {
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}
.longboard-intro-img:hover {
  filter: contrast(80%);
  transform: scale(1.1);
}

.grid {
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.grid img {
  width: 100%;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}

.grid img:hover {
  transform: scale(1.8);
}

.dark {
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
  color: white;
}

.dark .container {
  background: rgba(255, 255, 255, 0.3);
}

.dark a {
  color: #fc8eac;
}

.dark button {
  background: #fff;
  color: #222;
  transition: all 150ms ease-in-out;
}
.dark button:hover {
  background: #222;
  color: #fff;
  border: 1px solid #fff;
}
